.table {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  color: black;
}

.spin {
  background-color: green;
  color: green;
}

.confeti {
  /* ponerlo encima de todo  */
  z-index: 1000;
}
